In [8]:
# Import necessary libraries for data handling and plotting
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import io
# Read the CSV data into a pandas DataFrame
url = 'https://corgis-edu.github.io/corgis/datasets/csv/weather/weather.csv'
df = pd.read_csv(url)
df.head()

,Data.Precipitation,Date.Full,Date.Month,Date.Week of,Date.Year,Station.City,Station.Code,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,0.00,2016-01-03,1,3,2016,Birmingham,BHM,"Birmingham, AL",Alabama,39,46,32,33,4.33
1,0.00,2016-01-03,1,3,2016,Huntsville,HSV,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,0.16,2016-01-03,1,3,2016,Mobile,MOB,"Mobile, AL",Alabama,46,51,41,35,9.73
3,0.00,2016-01-03,1,3,2016,Montgomery,MGM,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,0.01,2016-01-03,1,3,2016,Anchorage,ANC,"Anchorage, AK",Alaska,34,38,29,19,7.80

In [7]:
# Convert columns to numeric types. Any value that cannot be converted will become NaN (Not a Number).
df['Data.Precipitation'] = pd.to_numeric(df['Data.Precipitation'], errors='coerce')
df['Data.Temperature.Avg Temp'] = pd.to_numeric(df['Data.Temperature.Avg Temp'], errors='coerce')
df['Data.Wind.Speed'] = pd.to_numeric(df['Data.Wind.Speed'], errors='coerce')

# Drop any rows that have missing values in our key columns after conversion.
df.dropna(subset=['Data.Precipitation', 'Data.Temperature.Avg Temp', 'Data.Wind.Speed', 'Station.State'], inplace=True)